<div class="container" style="position: relative;">

	<h2>Editar Contacto</h2>
	<div class="contacted">
		<% if @lead.contacted == "No" %>	
			<%= image_tag('notcontacted.png')%>
		<% else %>		
			<%= image_tag('contacted.png')%>
		<% end %>
	</div>

	<%= form_for @lead do |f| %>
	  
	  <div class="row">

	    <div class="form-group col-xs-6">
	      <label>Nombre:</label>
	      <input class="form-control" value="<%= @lead.first_name %> <%= @lead.last_name %>", disabled >
	    </div>

	    <div class="form-group col-xs-6">
	      <label>Email:</label>
	      <input class="form-control" value="<%= @lead.email %>", disabled >
	    </div>

	    <div class="form-group col-xs-12">
	      <label>Mensaje:</label>
	      <textarea rows="4" class="form-control" disabled><%= @lead.message %></textarea>
	    </div>

	    <div class="form-group col-xs-6">
	    	<label>Contactado?</label>
	    	<%= f.select(:contacted, ["No", "Yes"], {include_blank: "Estado de contacto..."}, { class: 'form-control', required: true })  %>
	    </div>

	    <div class="clearfix"></div>

	    <div class="col-md-4 actions">
	    	<%= button_tag class: "btn btn-lg btn-info btn-block" do %>
			    Guardar
			  <% end %>
	    </div>

	    <div class="col-md-4 actions">
      	<%= link_to "Volver", leads_path, class: "btn btn-default btn-lg btn-block" %>
      </div>

      <div class="col-md-4 actions">
      	<%= link_to "Borrar", @lead, class: "btn btn-danger btn-lg btn-block", method: :delete, data: {confirm: "Estás seguro que quieres borrar?"} %>
      </div>

	  </div><!-- .row -->

	<% end %><!-- END NEW LEAD FORM -->

</div><!-- .container -->