<section id="leads">
	<div class="container">
		<h2>Contactos</h2>
		<div class="table-responsive">
			<table class="table table-striped table-bordered">
				
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th class="hidden-xs">Email</th>
						<th class="hidden-xs">Mensaje</th>
						<th class="text-center">Contactado</th>
					</tr>
				</thead>
				
				<tbody>

					<% @lead.each do |lead| %>

						<tr>
							<td><%= link_to lead.first_name, edit_lead_path(lead) %></td>
							<td><%= link_to lead.last_name, edit_lead_path(lead) %></td>
							<td class="hidden-xs"><%= link_to lead.email, edit_lead_path(lead) %></td>
							<td class="hidden-xs"><%= link_to (truncate(lead.message, length: 100)), edit_lead_path(lead) %></td>
							<td class="text-center">
								<% if lead.contacted == "No" %>
									<%= image_tag('notcontacted.png', class: "tbl-img")%>
								<% else %>
									<%= image_tag('contacted.png', class: "tbl-img")%>
								<% end %>
							</td>	
						</tr>

					<%end %>

				</tbody>
			</table>
		</div><!-- .table-responsive -->
		<%= link_to "Nuevo Contacto", new_lead_path, class: "btn btn-lg btn-info" %>
	</div><!-- .container -->
</section>