<section id="main">

  <div class="container">

    <div class="row">

      <h1 class="text-center main-text">Que hacemos?</h1>
      <p>
        Ofrecemos un servicio, para nuestros clientes, especializándonos en <span class="highlight one">televisión y prensa</span>, <span class="highlight two">moda, desfile y lanzamiento</span>, <span class="highlight one">eventos privados</span> y <span class="highlight two">empresas particulares</span>.
      </p>
      <p>Diariamente ofrecemos desayunos, almuerzos y catering.</p>
      <div class="fun">

        <div class="boxie" href="#banc" aria-controls="home" role="tab" data-toggle="tab">
          <div class="boxer one"></div>
          <div class="bottom">
            <h4>Banquetería</h4>
          </div>
        </div>

        <div class="boxie" href="#catering" aria-controls="home" role="tab" data-toggle="tab">
          <div class="boxer two"></div>
          <div class="bottom">
            <h4>Catering</h4>
          </div>
        </div>

        <div class="boxie"href="#pastel" aria-controls="home" role="tab" data-toggle="tab">
          <div class="boxer three"></div>
          <div class="bottom">
            <h4>Pastelería</h4>
          </div>
        </div>

        <div class="boxie" href="#empresas" aria-controls="home" role="tab" data-toggle="tab">
          <div class="boxer four"></div>
          <div class="bottom">
            <h4>Empresas</h4>
          </div>
        </div>

        <div class="boxie" href="#domicilio" aria-controls="home" role="tab" data-toggle="tab">
          <div class="boxer five"></div>
          <div class="bottom">
            <h4>Domicilio</h4>
          </div>
        </div>

        <div class="boxie" href="#person" aria-controls="home" role="tab" data-toggle="tab">
          <div class="boxer six"></div>
          <div class="bottom">
            <h4>Personalizado</h4>
          </div>
        </div>

        <div class="clearfix"></div>

      </div>

    </div><!-- .row -->

    <div class="row">

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="banc">
          <div class="row">

            <div class="offers">

              <div class="col-md-6">
                <%= image_tag("small2.png", class: "img-responsive") %>
              </div>

              <div class="col-md-6">
                <h1>Banquetería</h1>
                <p class="lead">Gourmet Fabregat, en sus eventos a domicilio, brinda los mismos estándares de calidad con los que acostumbra a trabajar dentro de sus instalaciones y vitrina en nuestra variedad de servicios.</p>
              </div>
            </div><!-- .offers -->

          </div><!-- .row -->
        </div>
        <div role="tabpanel" class="tab-pane fade" id="pastel">
          <div class="row">

            <div class="offers">

              <div class="col-md-6">
                <%= image_tag("small2.png", class: "img-responsive") %>
              </div>

              <div class="col-md-6">
                <h1>Pastelería</h1>
                <p class="lead">Gourmet Fabregat, en sus eventos a domicilio, brinda los mismos estándares de calidad con los que acostumbra a trabajar dentro de sus instalaciones y vitrina en nuestra variedad de servicios.</p>
              </div>
            </div><!-- .offers -->

          </div><!-- .row -->
        </div>
        <div role="tabpanel" class="tab-pane fade" id="catering">
          <div class="row">

            <div class="offers">

              <div class="col-md-6">
                <%= image_tag("small2.png", class: "img-responsive") %>
              </div>

              <div class="col-md-6">
                <h1>Catering</h1>
                <p class="lead">Gourmet Fabregat, en sus eventos a domicilio, brinda los mismos estándares de calidad con los que acostumbra a trabajar dentro de sus instalaciones y vitrina en nuestra variedad de servicios.</p>
              </div>
            </div><!-- .offers -->

          </div><!-- .row -->
        </div>
        <div role="tabpanel" class="tab-pane fade" id="domicilio">
          <div class="row">

            <div class="offers">

              <div class="col-md-6">
                <%= image_tag("small2.png", class: "img-responsive") %>
              </div>

              <div class="col-md-6">
                <h1>Domicilio</h1>
                <p class="lead">Gourmet Fabregat, en sus eventos a domicilio, brinda los mismos estándares de calidad con los que acostumbra a trabajar dentro de sus instalaciones y vitrina en nuestra variedad de servicios.</p>
              </div>
            </div><!-- .offers -->

          </div><!-- .row -->
        </div>
        <div role="tabpanel" class="tab-pane fade" id="empresas">
          <div class="row">

            <div class="offers">

              <div class="col-md-12">
                <h1>Empresa</h1>
                <p class="lead">Contamos con un servicio de excelencia y alta calidad. Este servicio se hace para estrechar lazos, para llegar a un acuerdo y satisfacer la necesidad de nuestros clientes. Contiene para nuestros clientes las siguientes áreas: Coffee break, snack y almuerzo.</p>
                <h1>Ejecutivo y corporativo</h1>
                <p class="lead">Nuestro menú ejecutivo y corporativo. Contiene para nuestros clientes las siguientes áreas: Desayuno;  Simple; Ejecutivo; Premium.</p>
                
              </div>

            </div><!-- .offers -->

          </div><!-- .row -->
        </div>
        <div role="tabpanel" class="tab-pane fade" id="person">
          <div class="row">

            <div class="offers">

              <div class="col-md-6">
                <%= image_tag("small2.png", class: "img-responsive") %>
              </div>

              <div class="col-md-6">
                <h1>Eventos Personalizados</h1>
                <p class="lead">Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div><!-- .offers -->

          </div><!-- .row -->
        </div>
      </div>

    </div><!-- .row -->

  </div><!-- .container -->

</section>
