<div id="main">

  <div class="container-fluid">

    <div class="col-md-10 col-md-offset-1">

      <div class="row">

        <h1 class="text-center main-text">Que hacemos?</h1>
        <p>
          Ofrecemos un servicio, para nuestros clientes, especializándonos en <span class="highlight one">televisión y prensa</span>, <span class="highlight two">moda, desfile y lanzamiento</span>, <span class="highlight one">eventos privados</span> y <span class="highlight two">empresas particulares</span>.
        </p>
        <p>Diariamente ofrecemos desayunos, almuerzos y catering.</p>
        
        <div class="row text-center" role="tablist">
          <div class="col-md-2 col-sm-4 col-xs-4 boxie">
            <a href="#banc"  role="tab" data-toggle="tab">
              <%= image_tag("banquet.png", class: "img-responsive")%>
              <h4>Banquetería</h4>
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-4 boxie">
            <a href="#catering"  role="tab" data-toggle="tab">
              <%= image_tag("waiter.png", class: "img-responsive")%>
              <h4>Catering</h4>
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-4 boxie">
             <a href="#pastel" role="tab" data-toggle="tab">
              <%= image_tag("pan.png", class: "img-responsive")%>
              <h4>Pastelería</h4>
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-4 boxie">
            <a  href="#empresas" role="tab" data-toggle="tab">
              <%= image_tag("office.png", class: "img-responsive")%>
              <h4>Empresas</h4>
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-4 boxie">
            <a  href="#domicilio" role="tab" data-toggle="tab">
              <%= image_tag("home.png", class: "img-responsive")%>
              <h4>Domicilio</h4>
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-4 boxie">
            <a  href="#person" role="tab" data-toggle="tab">
              <%= image_tag("events.png", class: "img-responsive")%>
              <h4>Personalizado</h4>
            </a>
          </div>
        </div>

      </div><!-- .row -->

      <div class="row">

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="banc">
            <div class="row">

              <div class="offers">

                <div class="col-md-6">
                  <%= image_tag("small2.png", class: "img-responsive") %>
                </div>

                <div class="col-md-6">
                  <h1>Banquetería</h1>
                  <p class="lead">Servicio personalizado por unidades, para, cumpleaños, eventos, fiestas  y empresas. Estilo gastronómico, con una buena presentación, degustación.</p>
                  <small>Todo pedido se realiza con tres (<strong>3</strong>) días de anticipación.</small>
                </div>
              </div><!-- .offers -->

            </div><!-- .row -->
          </div>
          <div role="tabpanel" class="tab-pane fade" id="pastel">
            <div class="row">

              <div class="offers">

                <div class="col-md-6">
                  <%= image_tag("baking.png", class: "img-responsive") %>
                </div>

                <div class="col-md-6">
                  <h1>Pastelería</h1>
                  <p class="lead">Se encarga de elaborar exquisitos trabajos para el gran día de tu evento. Está a lavanguardia de las nuevas recetas y creaciones del mundo de la repostería. Nuestros expertos chef, trabajan en base a ideas originales, para que tengan alta exclusividad en su diseño.</p>
                  <small>Todo pedido se realiza con tres (<strong>3</strong>) días de anticipación.</small>
                </div>
              </div><!-- .offers -->

            </div><!-- .row -->
          </div>
          <div role="tabpanel" class="tab-pane fade" id="catering">
            <div class="row">

              <div class="offers">

                <div class="col-md-6">
                  <%= image_tag("domicilio.png", class: "img-responsive") %>
                </div>

                <div class="col-md-6">
                  <h1>Catering</h1>
                  <p class="lead"> Cuenta con proveedores consolidados en el mercado, garantizando calidad de su servicio. Gourmet Fabregat podrá encargarse de la elaboración de menú, sino que además también ofrece otros servicios que les permitirán relajarse y no agobiarse con los preparativos.
                  </p>
                  <small>Todo pedido se realiza con tres (<strong>3</strong>) días de anticipación.</small>
                </div>
              </div><!-- .offers -->

            </div><!-- .row -->
          </div>
          <div role="tabpanel" class="tab-pane fade" id="domicilio">
            <div class="row">

              <div class="offers">

                <div class="col-md-6">
                  <%= image_tag("smallplates.png", class: "img-responsive") %>
                </div>

                <div class="col-md-6">
                  <h1>Domicilio</h1>
                  <p class="lead">Gourmet Fabregat, en sus eventos a domicilio, brinda los mismos estándares de calidad con los que acostumbra a trabajar dentro de sus instalaciones y vitrina en nuestra variedad de servicios.</p>
                </div>
              </div><!-- .offers -->

            </div><!-- .row -->
          </div>
          <div role="tabpanel" class="tab-pane fade" id="empresas">
            <div class="row">

              <div class="offers">

                <div class="col-md-6">
                  <%= image_tag("corpcater.png", class: "img-responsive") %>
                </div>

                <div class="col-md-6">
                  <h1>Empresa</h1>
                  <p class="lead">Contamos con un servicio de excelencia y alta calidad. Este servicio se hace para estrechar lazos, para llegar a un acuerdo y satisfacer la necesidad de nuestros clientes. Contiene para nuestros clientes las siguientes áreas: Coffee break, snack y almuerzo.</p>
                  <!-- <h1>Ejecutivo y corporativo</h1>
                  <p class="lead">Nuestro menú ejecutivo y corporativo. Contiene para nuestros clientes las siguientes áreas: Desayuno;  Simple; Ejecutivo; Premium.</p> -->
                  
                </div>

              </div><!-- .offers -->

            </div><!-- .row -->
          </div>
          <div role="tabpanel" class="tab-pane fade" id="person">
            <div class="row">

              <div class="offers">

                <div class="col-md-6">
                  <%= image_tag("bar.png", class: "img-responsive") %>
                </div>

                <div class="col-md-6">
                  <h1>Eventos Personalizados</h1>
                  <p class="lead">También pensamos en nuestros clientes que escogen vivir sano. Una alimentación saludable, es aquella que aporta todos los nutrientes esenciales y la energía que cada persona necesita para mantenerse sana.</p>
                </div>
              </div><!-- .offers -->

            </div><!-- .row -->
          </div>
        </div>

      </div><!-- .row -->

    </div><!-- .col-md-10 -->

  </div><!-- .container -->

</div>