<section id="main">

  <div class="container">

    <div class="row">

      <h1 class="text-center main-text">Que hacemos?</h1>
      <h3 class="text-center">This is the thing that we do best!</h3>

      <div class="things-large hidden-sm hidden-xs">
        <div class="col-md-4 col-sm-12 nopad">

          <div class="box" href="#domicilio" aria-controls="home" role="tab" data-toggle="tab">
            <div class="black"></div>
            <div class="backer">
              <%= image_tag('food1.jpg') %>
            </div>
            <div class="box-description">
              <h2>Domicilio</h2>
              <span class="texto">Ver Más</span>
            </div>
          </div><!-- .box -->

        </div><!-- .col-sm-4 -->

        <div class="col-md-4 col-sm-6 nopad">

          <div class="box" href="#trabajo" aria-controls="home" role="tab" data-toggle="tab">
            <div class="black"></div>
            <div class="backer">
              <%= image_tag('food2.jpg') %>
            </div>
            <div class="box-description">
              <h2>Trabajo</h2>
              <span class="texto">Ver Más</span>
            </div>
          </div><!-- .box -->

        </div><!-- .col-sm-4 -->

        <div class="col-md-4 col-sm-6 nopad">

          <div class="box" href="#eventos" aria-controls="home" role="tab" data-toggle="tab">
            <div class="black"></div>
            <div class="backer">
              <%= image_tag('food3.jpg') %>
            </div>
            <div class="box-description">
              <h2>Eventos</h2>
              <span class="texto">Ver Más</span>
            </div>
          </div><!-- .box -->

        </div><!-- .col-sm-4 -->
      </div><!-- .thing-large -->

      <div class="things visible-xs visible-sm text-center">
        <div class="row">
          <div class="col-xs-4">
            <div class="box" href="#domicilio" aria-controls="home" role="tab" data-toggle="tab">
              <%= image_tag('home.png') %>
              <h4>Domicilio</h4>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="box" href="#trabajo" aria-controls="home" role="tab" data-toggle="tab">
              <%= image_tag('office.png') %>
              <h4>Oficina</h4>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="box" href="#eventos" aria-controls="home" role="tab" data-toggle="tab">
              <%= image_tag('events.png') %>
              <h4>Eventos</h4>
            </div>
          </div>
        </div><!-- .row -->
      </div>

    </div><!-- .row -->

    <div class="row">

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="domicilio">
          <div class="row">

            <div class="offers">

              <div class="col-md-6">
                <%= image_tag("small2.png", class: "img-responsive") %>
              </div>

              <div class="col-md-6">
                <h1>Domicilio</h1>
                <p class="lead">Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div><!-- .offers -->

          </div><!-- .row -->
        </div>
        <div role="tabpanel" class="tab-pane fade" id="trabajo">
          <div class="row">

            <div class="offers">

              <div class="col-md-6">
                <%= image_tag("small2.png", class: "img-responsive") %>
              </div>

              <div class="col-md-6">
                <h1>Trabajo</h1>
                <p class="lead">Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div><!-- .offers -->

          </div><!-- .row -->
        </div>
        <div role="tabpanel" class="tab-pane fade" id="eventos">
          <div class="row">

            <div class="offers">

              <div class="col-md-6">
                <%= image_tag("small2.png", class: "img-responsive") %>
              </div>

              <div class="col-md-6">
                <h1>Eventos</h1>
                <p class="lead">Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div><!-- .offers -->

          </div><!-- .row -->
        </div>
      </div>

    </div><!-- .row -->

  </div><!-- .container -->

</section>
