<%= render 'pages/heading' %>

<section id="call">

	<p>
		Ut eam assum quaeque persecuti, ut sint tempor ancillae ius. No mei omnium ne qui meis tempor.
	</p>

</section>

<%= render 'pages/info' %>

<%= render 'pages/main' %>

<section id="invite">

	<p>
		Te mundi dolore altera eum persecuti intellegat solet consectetuer quo an, has sale oratio ad.
	</p>

</section>

<%= render 'pages/contact' %>

<%= render 'pages/footer' %>

<%= render 'pages/menu' %>