<%= render 'pages/heading' %>

<section id="call">
	<div class="container-fluid">
		<div class="col-md-10 col-md-offset-1">

			<p>Usted encontrará aquí una amplia variedad de todos los servicios que <span class="highlight"> Gourmet Fabregat</span> ofrece, de manera <span class="highlight">dinámica</span>, <span class="highlight">ágil</span>, y <span class="highlight">directa</span>.</p>

			<p>Los invitamos a <span class="highlight two">disfrutar de su evento</span> recorriendo mágicamente el mundo de los sabores y aromas haciendo este día, un día <span class="highlight two">inolvidable</span>, <span class="highlight two">generoso</span> y <span class="highlight two">propio</span>.</p>

		</div>
	</div>

</section>

<%= render 'pages/info' %>

<%= render 'pages/main' %>

<section id="invite">

	<p>
		¡Aquí estamos! Un conjunto de <span class="highlight">profesionales que aman y disfrutan</span> lo que hacen.
	</p>

</section>

<%= render 'pages/contact' %>

<%= render 'pages/footer' %>

<%= render 'pages/menu' %>