<%= render 'pages/heading' %>

<div id="call">
	<div class="container-fluid">
		<div class="col-md-10 col-md-offset-1">

			<p>Le damos la cordial bienvenida a <span class="highlight two">nuestra vitrina</span>, en donde podrá recorrer virtualmente nuestros <span class="highlight two">servicios de excelencia</span>.</p>

			<p>Usted encontrará aquí una amplia variedad de todos los servicios que <span class="highlight"> Gourmet Fabregat</span> ofrece, de manera <span class="highlight">dinámica</span>, <span class="highlight">ágil</span>, y <span class="highlight">directa</span>.</p>

		</div>
	</div>

</div>

<%= render 'pages/info' %>

<%= render 'pages/main' %>

<div id="invite">

	<p>
		¡Aquí estamos! Un conjunto de <span class="highlight">profesionales que aman y disfrutan</span> lo que hacen.
	</p>

</div>

<%= render 'pages/contact' %>

<%= render 'pages/footer' %>

<%= render 'pages/menu' %>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>